<div class="animated fadeIn">
  <div class="alert animated fadeIn" [ngClass]="{ 'alert-danger': (status!==null&&!success), 'alert-success': (status!==null&&success) }" role="alert">
    {{ status }}
  </div>
<div [ngSwitch]="loading" class="card row">
<div *ngSwitchCase="2" class="d-flex justify-content-center animated fadeIn" style="margin:auto;">
  <div class="spinner-border m-5" style="width: 6rem; height: 6rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngSwitchCase="1" class="alert alert-danger animated fadeIn" role="alert">
  There no user(s)!
</div>
<table *ngSwitchDefault class="table table-responsive-sm table-hover table-outline mb-0">
<thead class="thead-light">
  <tr>
    <th class="text-center"><i class="icon-people"></i></th>
    <th>Name</th>
    <th>Email</th>
    <th class="text-center">Role</th>
    <th class="text-center"></th>
  </tr>
</thead>
<tbody *ngFor="let u of userList">
  <tr>
      <td class="text-center">
        <div class="avatar">
          <img src='../../../assets/img/avatars/user_default.jpg' class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status badge-success"></span>
        </div>
      </td>
      <td>
        <div class="small text-muted">
          <strong>{{u.name}}</strong>
        </div>
      </td>
      <td>
        <div class="clearfix">
          {{u.email}}
        </div>
      </td>
      <td [ngSwitch]="u.type" class="text-center">
        <i *ngSwitchCase="4" class="fa fa-user-circle" style="font-size:18px"> Administrator</i>
        <i *ngSwitchCase="2" class="fa fa-edit" style="font-size:18px"> Editor</i>
        <i *ngSwitchDefault class="fa fa-eye" style="font-size:18px"> Viewer</i>
      </td>
      <td>
        <div class="text-center">
          <button type="button" (click)="deleteUser(u)" class="btn btn-block btn-danger active" aria-pressed="true"><i class="icon-trash"></i></button>
        </div>
      </td>
  </tr>
</tbody>
</table>
</div>
<div class="card row">
  <button type="button" class="btn btn-block btn-success active" aria-pressed="true" routerLink="/register">ADD USER</button>
</div>
</div>
