<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card-group">
            <div class="card p-4 align-middle">
              <div class="card-body">
                <h5 class="card-title">Chemium IMS | Technical Support Page</h5>
                <div class="card-text">
                  <p>Please contact technical support for password resets & account changes.</p>
                  <em>email: <a href="mailto:support@cloudconsultants.com?subject=HelpMe!">support@cloudconsultants.com</a></em><br>
                  <em>phone number: (832)-564-8430</em><br>
                </div>
                <p></p>
                <a routerLink="/" class="btn btn-primary">Take Me Home!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
