<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          Mission
          To create significant value for stakeholders by providing customers and suppliers with world-class products and services while also carving out a niche for the company in the global petrochemical and hydrocarbon industry.
          Vision
          To achieve year-over-year growth, both organically and through asset acquisition, while becoming the most trusted and recognized petrochemical trading company.
        </div>
        <div class="card-footer">
          <button (click)="GoToRecords($event)" type="button" class="btn btn-block btn-primary">
            Go to records
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <app-clock></app-clock>
      </div>
    </div>
  </div>
</div>
