<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img class="bd-placeholder-img card-img-top" src="../../../assets/img/brand/big_logo.png"/>
        <div *ngIf="showNews" class="card-body">
          Chemium's mission is to create significant value for stakeholders by providing customers and suppliers with world-class products and services while also carving out a niche for the company in the global petrochemical and hydrocarbon industry.
          Vision to achieve year-over-year growth, both organically and through asset acquisition, while becoming the most trusted and recognized petrochemical trading company.
        </div>
        <div *ngIf="!showNews" class="card-body display-3">
          Your're Not Connected to the Internet! 
        </div>
        <div class="card-footer">
          <button *ngIf="showNews" routerLink="/record" type="button" class="btn btn-block btn-primary">
            Go to records
          </button>
          <button *ngIf="!showNews" (click)="RefreshPage($event)" type="button" class="btn btn-block btn-success">
            Try Refreshing the Page
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <app-clock></app-clock>
      </div>
    </div>
  </div>
</div>
