<div>
  <div class="row" [ngSwitch]="loading">
    <div *ngSwitchCase="2" class="col-md-8 mx-auto animated fadeIn">
      <div class="d-flex justify-content-center" style="margin:auto;">
        <div class="spinner-border m-5" style="width: 12rem; height: 12rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1" class="col-md-12 mx-auto animated fadeIn">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngSwitchDefault class="col-md-8 mx-auto animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <span class="display-2">Pick a record from below....</span>
        </div>
      </div>
      <br><br>
      <div class="row animated fadeIn" [@slideInOut]>
        <div class="col-md-12">
          <div *ngFor="let item of _navItems" class="records-sliding">
            <a class="records-sliding record-text h5" routerLink="{{ item.url }}">
              {{ item.name }}
              <img class="" width="240" height="240" src="../../../../assets/img/record.gif"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
